<div class="fixed inset-0 -z-10 overflow-hidden pointer-events-none">
  <div class="absolute top-[-10%] left-[-10%] w-[55%] h-[55%] bg-blue-200/40 rounded-full blur-[130px] animate-blob"></div>
  <div class="absolute top-[20%] right-[-5%] w-[45%] h-[45%] bg-indigo-200/25 rounded-full blur-[110px] animate-blob animation-delay-2000"></div>
  <div class="absolute bottom-[-10%] left-[20%] w-[50%] h-[50%] bg-blue-100/40 rounded-full blur-[120px] animate-blob animation-delay-4000"></div>
  <div class="absolute top-[50%] left-[40%] w-[35%] h-[35%] bg-purple-200/15 rounded-full blur-[100px] animate-blob animation-delay-2000"></div>
</div>
